.wrapper {
    position: relative;
    width: 190px;
    height: 215px;
    margin: 0.5rem auto;
}

.svg {
    transform: rotate(-90deg);
}

.bgCircle {
    fill: none;
    stroke: rgba(255, 255, 255, .08);
    stroke-width: 10;
}

.progressCircle {
    fill: none;
    stroke-width: 9;
    stroke-linecap: round;
    transition: .4s;
}

.completedRing {
    filter:
        drop-shadow(0 0 6px rgba(34, 197, 94, .8)) drop-shadow(0 0 14px rgba(34, 197, 94, .45));
}

.content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-5px);
    color: white;
    transition: .4s;
}

.completedContent {
    color: #ffffff;
    text-shadow: 0 0 12px rgba(34, 197, 94, .8), 0 0 30px rgba(34, 197, 94, .45);
}

.completedNumber {
    color: white;
    text-shadow:
        0 0 12px rgba(34, 197, 94, 0.8),
        0 0 24px rgba(34, 197, 94, 0.5);
}

.content h2 {
    font-size: 2.6rem;
    margin: 0;
}

.content span {
    opacity: .7;
}

.content p {
    margin-top: 10px;
    font-size: .8rem;
    color: #a1a1aa;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: white;
    margin-top: 8px;
    font-size: 0.95rem;
}