.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    padding-bottom: 85px;
    max-width: 600px;
    margin: 0 auto;
}

.title {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
}

.heading {
    display: flex;
    justify-content: center;
}