.header {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

.settingsBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 14px;
    border: 1px solid var(--border);
    background: var(--card-light);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: 0.3s;
}

.settingsBtn:hover {
    background: var(--primary);
    transform: rotate(90deg);
}

.iconWrapper {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 18px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(34, 197, 94, 0.3) 0%, rgba(34, 197, 94, 0.05) 70%, transparent 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: glow 2.5s ease-in-out infinite;
    cursor: pointer;
}

.icon {
    color: var(--primary);
    font-size: 2rem;
}

@keyframes glow {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 6px #22c55e);
    }

    50% {
        transform: scale(1.08);
        filter: drop-shadow(0 0 18px #22c55e);
    }

    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 6px #22c55e);
    }
}

.header h1 {
    font-size: clamp(2rem, 4vw, 2.7rem);
    font-weight: 700;
}

.header p {
    color: var(--text-secondary);
    margin-top: 8px;
    font-size: 0.95rem;
}